@model InsuranceCompany.Models.InsuranceCase

@{
    ViewData["Title"] = "Редактировать страховые случаи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Редактировать</h1>
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupportingDocumentId" class="control-label"></label>
                <select asp-for="SupportingDocumentId" class="form-control" asp-items="ViewBag.SupportingDocumentId"></select>
                <span asp-validation-for="SupportingDocumentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsurancePayment" class="control-label"></label>
                <input asp-for="InsurancePayment" class="form-control" />
                <span asp-validation-for="InsurancePayment" class="text-danger"></span>
            </div>
            <input type="submit" value="Сохранить" class="w-100 btn btn-lg btn-primary mt-2" />
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
