@using InsuranceCompany.Utilities;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<InsuranceType>
@{
    ViewData["Title"] = "Главная страницы";
}

<div class="text-center">
    <div class="row justify-content-center align-items-center " style="height: 400px;">
        <h1 class="display-4 text-primary">Страховая компания</h1>
        @if (SignInManager.IsSignedIn(User)) {
            <h1 class="display-4 text-primary">Добро пожаловать @UserManager.GetUserAsync(User).Result.Name</h1>
        }
        else {
            <a class="w-50 btn btn-lg btn-primary" asp-area="Identity" asp-page="/Account/Register">Зарегистрироваться</a>
        }
    </div>
</div>