@{
    ViewData["Title"] = "Политика Конфиденциальность";
}
<h1>@ViewData["Title"]</h1>

<p>Ознакимтся с исходным кодом приложения можно на <a href="https://github.com/Javaro3/InsuranceCompany">GitHub</a></p>
